<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/renew/sub_layout_user}"
      xmlns:th="http://www.thymeleaf.org">

<style layout:fragment="css">
    input::-webkit-inner-spin-button { appearance: none; -moz-appearance: none; -webkit-appearance: none; }
</style>

<!-- index_layout_user.html 에 정의한 main page 부분 -->
<div layout:fragment="content">

    <div class="subCont inquiryUpdate-wrap inquiry2-wrap">
        <div class="auto mt120 mb120">
            <div class="titleWrap">
                <p class="title">차량 문의</p>
                <p class="text">문의사항을 남겨주시면 친절하게 답변해드리겠습니다.</p>
            </div>


            <div class="tableWrap">
                <table class="page-table2 input-table">
                    <colgroup>
                        <col style="width: 20%">
                        <col style="width: 80%">
                    </colgroup>

                    <tbody>
                    <tr>
                        <th>구분</th>
                        <td>왕복</td>
                    </tr>
                    <tr>
                        <th>출발지</th>
                        <td>출발 경로</td>
                    </tr>
                    <tr>
                        <th>목적지</th>
                        <td>목적지 경로</td>
                    </tr>
                    <tr>
                        <th>경유지</th>
                        <td>모든 경유 내용</td>
                    </tr>
                    <tr>
                        <th>출발날짜</th>
                        <td>2022-10-07 10:00</td>
                    </tr>
                    <tr>
                        <th>도착날짜</th>
                        <td>2022-10-09 17:00</td>
                    </tr>
                    <tr>
                        <th>기사님 동행여부</th>
                        <td>전체일정 동행</td>
                    </tr>
                    <tr>
                        <th>전체 일정 작성</th>
                        <td>전체일정 내용</td>
                    </tr>
                    <tr>
                        <th>인원</th>
                        <td>100명</td>
                    </tr>
                    <tr>
                        <th>이용목적</th>
                        <td>이용목적 내용</td>
                    </tr>
                    <tr>
                        <th>카드결제 및 영수증</th>
                        <td>
                            <div class="listWrap">
                                <p>세금계산서 및 현금영수증 발행</p>
                                <p>카드결제</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>선호하는 버스<br><span class="green sTxt">(여러개 선택 가능)</span></th>
                        <td>
                            <div class="listWrap">
                                <p>상관없음</p>
                                <p>미니버스(최대25인승)</p>
                                <p>대형버스(최대45인승)</p>
                                <p>대형우등(28인승)</p>
                                <p>밴(최대14인승)</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>추가 메세지</th>
                        <td>추가 요청사항 내용</td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div class="answerWrap">
                <p>
                    안녕하세요. 스쿨트립입니다.<br>
                    문의하신 내용의 답변입니다.문의하신 내용의 답변입니다.문의하신 내용의 답변입니다.문의하신 내용의 답변입니다.<br>
                    문의하신 내용의 답변입니다.문의하신 내용의 답변입니다.문의하신 내용의 답변입니다.<br>
                    감사합니다.
                </p>
            </div>




            <div class="page-btn">
                <a href="/mypage/vehicle/update" class="comm-btn green-btn mr10">수정하기</a>
                <a href="/mypage" class="comm-btn white-btn">목록</a>
            </div>
        </div>
    </div>
    <!--script START-->
    <script>
    </script>
    <!--script END-->
</div>
</html>