<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="chorus" content="true" />
    <meta name="viewport" content="width=1200,user-scalable=yes">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>스쿨트립- 인쇄미리보기</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/content.css">
    <link rel="stylesheet" href="../css/responsive.css">
</head>
<body>
    <div class="a4Wrap"><!--A4사이즈 크기-->
        
    
        <div class="prev-printWrap">
           <div class="print-inner">
            <p class="titleWrap">2022년 2학년 2학기 수학여행</p>
            
            <div class="timeTableWrap">
                <div class="dayTitle">
                    <p class="day">DAY01</p>
                    <p class="date">2022-09-01</p>
                </div>
                <div class="day-tableWrap">
                    <table>
                        <colgroup>
                            <col style="width: 20%">
                            <col style="width: 55%">
                            <col style="width: 25%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>시간</th>
                                <th>내용</th>
                                <th>비고</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>09:00 - 09:00</td>
                                <td>학교출발</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>09:00 - 10:00</td>
                                <td>이동</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>10:00 - 11:30</td>
                                <td>수도권 매립지 견학</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>11:30 - 12:00</td>
                                <td>이동</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>12:00 - 13:00</td>
                                <td>점심식사</td>
                                <td>휴게소</td>
                            </tr>
                            <tr>
                                <td>13:00 - 14:00</td>
                                <td>이동</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>14:00 - 15:00</td>
                                <td>소각장 시설</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>15:00 - 15:30</td>
                                <td>환경 시설2</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>15:30 - 18:00</td>
                                <td>이동</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>18:00 - 19:00</td>
                                <td>저녁식사</td>
                                <td>뷔페</td>
                            </tr>
                            <tr>
                                <td>19:00 - 19:00</td>
                                <td>숙소 체크인 및 자유시간</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
            
            <div class="timeTableWrap">
                <div class="dayTitle">
                    <p class="day">DAY02</p>
                    <p class="date">2022-09-02</p>
                </div>
                <div class="day-tableWrap">
                    <table>
                        <colgroup>
                            <col style="width: 20%">
                            <col style="width: 55%">
                            <col style="width: 25%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>시간</th>
                                <th>내용</th>
                                <th>비고</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>08:00 - 09:00</td>
                                <td>조식</td>
                                <td>호텔식</td>
                            </tr>
                            <tr>
                                <td>09:00 - 10:00</td>
                                <td>이동</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>10:00 - 15:00</td>
                                <td>에버랜드</td>
                                <td>점심각자</td>
                            </tr>
                            <tr>
                                <td>15:00 - 17:00</td>
                                <td>이동</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>17:00 - 17:00</td>
                                <td>학교도착</td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                
            </div>
            
            
            <div class="receiptTable tableWrap">
                <table class="page-table1">
                    <colgroup>
                        <col style="width:20%">
                        <col style="width:20%">
                        <col style="width:12%">
                        <col style="width: *">
                        <col style="width: *">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>항목</th>
                            <th>구분</th>
                            <th>수량</th>
                            <th>단가</th>
                            <th>금액</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>차량</td>
                            <td>45인승</td>
                            <td>10</td>
                            <td>440,000원</td>
                            <td>4,400,000원</td>
                        </tr>
                        <tr>
                            <td>숙박비</td>
                            <td></td>
                            <td>20</td>
                            <td>50,000원</td>
                            <td>1,000,000원</td>
                        </tr>
                        <tr>
                            <td rowspan="2">여행자보험</td>
                            <td>학생</td>
                            <td>100</td>
                            <td>1,000원</td>
                            <td>100,000원</td>
                        </tr>
                        <tr>
                            <td>교사</td>
                            <td>10</td>
                            <td>1,500</td>
                            <td>1,5000원</td>
                        </tr>
                        <tr>
                            <td class="total" colspan="4">합계</td>
                            <td class="price">5,515,000원</td>
                        </tr>
                    </tbody>
                </table>
            </div>
           </div>
        </div>
    
   </div>
  
    
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/5f4b51f7f0.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    
    <script src="/renew/js/script.js"></script>
    <script>
        

   
        
        
        
        
    </script>

</body>
</html>